// ----------------------------------------------------------------------------
// Bottom Nav
// ----------------------------------------------------------------------------

.bottom-nav {
  background-color: $blue;
  padding: space(4) 0;
  // height: 144px;
  background-color: $blue;
  background-image: linear-gradient(90deg, #2F6CFC 0%, #0039B7);
}

.bottom-nav__item {
  width: 50%;
  float: left;
  padding: 0 space(6);
  height: space(12);
  display: flex;
  align-items: center;

  &--right {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    justify-content: flex-start;
  }

  &--left {
    text-align: right;
    justify-content: flex-end;
  }

  @include bp(medium) {
    padding: 0 space(12);
  }
}

.bottom-nav__inner {
  cursor: pointer;
  color: $white;
}

.bottom-nav__lead {
  display: block;
}

.bottom-nav__title {
  @include typesize(1);
  display: block;
  font-family: 'Antonio', $sans-serif;
  text-transform: uppercase;
  transition: border-bottom .2s ease;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid $white;
  }

  @include bp(medium) {
    @include typesize(2);
  }
}
