// ----------------------------------------------------------------------------
// Homework
// ----------------------------------------------------------------------------

.homework {
  background-color: #1F2534;
  padding: space(4);
  color: white;
  text-align: center;
}

.homework__logo {
  height: 85px;
  display: block;
  margin-bottom: space(4);
  margin-left: auto;
  margin-right: auto;
}

.homework__title {
  border-bottom: 0;
  line-height: space(6);
  display: inline-block;
  margin-bottom: space(4);
  padding-bottom: 0;

  &::after {
    content: " ";
    border-bottom: 2px solid #306FFD;
    display: block;
    width: 100%;
    margin-top: space(1);
  }
}

.homework__content {
  text-align: left;

  p code {
    background-color: $black;
  }

  a {
    color: white;
    text-decoration: underline;
  }

  @include bp(medium) {
    @include span(8);
    margin-left: span(2);
  }
}