// ----------------------------------------------------------------------------
// General Layout
// ----------------------------------------------------------------------------

.main {
  padding-top: space(6);
  min-height: calc(100vh - 380px);
}

.content {
  padding-bottom: space(6);
  overflow-y: scroll;
  
  @include bp(medium) {
    @include span(9);
    padding-left: space(9);
  }
}