// ----------------------------------------------------------------------------
// Side
// ----------------------------------------------------------------------------

$_circle-radius: 40px;
$_circle-color-done: #C0D0F3;
$_circle-color: #EEEEEE;
$_circle-active-color-1: #FFC73D;
$_circle-active-color-2: #FF722A;

.side {
  @include span(3);
  border-right: 1px solid #EDEDED;
  padding-bottom: space(4);
  display: none;

  @include bp(medium) {
    display: block;
  }
}

.side-nav__circle {
  float: left;
  background-color: #EEEEEE;
  height: $_circle-radius;
  width: $_circle-radius;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .2s ease;

  .is-active & {
    background-color: $_circle-active-color-1;
    background-image: linear-gradient(45deg, $_circle-active-color-1 0%, $_circle-active-color-2 99%);
  }

  .is-done & {
    background-color: $_circle-color-done;
  }
}



.side-nav__circle-inner {
  background-color: $white;
  height: $_circle-radius - 12px;
  width: $_circle-radius - 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;

  img {
    margin-top: 2px;
  }
}

.side-nav__page {
  margin-left: space(3);
  line-height: $_circle-radius;
  color: $black;
}

.is-active .side-nav__page {
  font-weight: bold;
}

.side-nav__line {
  background-color: $_circle-color-done;
  width: 4px;
  height: space(3);
  border-radius: 2px;
  margin-left: ($_circle-radius / 2) - 2;
  margin-top: space(1);
  margin-bottom: space(1);
  visibility: hidden;

  &.is-active {
    visibility: visible;
  }
}

.side-nav__wrap {
  height: $_circle-radius;
  cursor: pointer;

  &:hover {
    .side-nav__circle {
      background-color: darken($_circle-color, 10%);
    }
  }
}