// ----------------------------------------------------------------------------
// Code Block
// ----------------------------------------------------------------------------

.code-block {
  background-color: #F4F7FE;
  padding: 0 space(4);
  border-left: space(1) solid #306FFD;
  overflow: scroll;
  margin-bottom: space(4);
  margin-top: space(4);
  color: $black;
}