// ----------------------------------------------------------------------------
// Download Button
// ----------------------------------------------------------------------------


.download-button {
  border: 2px solid $white;
  color: $white;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  padding: 0 space(1);
  line-height: 35px;
  transition: background-color .2s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &.float-left {
    float: left;
  }

  &.float-right {
    float: right;
  }
}

.download-button__icon {
  margin-right: space(1);
}