// ----------------------------------------------------------------------------
// Hero
// ----------------------------------------------------------------------------


.hero {
  padding: space(10) 0 space(18);
  background-color: $blue;
  background-image: linear-gradient(60deg, #306EFE 0%, #003AB7);
  text-align: center;
  color: $white;
  position: relative;

  h1 {
    margin: 0;
  }

  h3 {
    display: inline-block;
    margin-bottom: space(4);
  }

  h3::after {
    content: " ";
    border-bottom: 3px solid $white;
    display: block;
    width: 100%;
    margin-top: space(1);
  }
}

.hero__breadcrumb {
  float: left;
  font-weight: bold;
  margin-top: -1 * space(8);
  cursor: pointer;
  font-size: 14px;
  opacity: .7;
  transition: opacity $base-time $base-ease;

  span {
    color: $white;
    font-weight: bold;
    margin-left: space(1);
  }

  &:hover {
    opacity: 1;
  }
}

.hero--gray {
  background-color: #ECF1FC;
  background-image: none;
  text-align: left;
}

.hero--gray .hero__breadcrumb {

  span {
    color: black;
  }

  img {
    display: none;
  }
}
.hero__div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin-bottom: -1px;
}