// ----------------------------------------------------------------------------
// Bottom Nav
// ----------------------------------------------------------------------------

.bottom-nav {
  background-color: $blue;
  height: 144px;
  background-color: $blue;
  background-image: linear-gradient(90deg, #2F6CFC 0%, #0039B7);
}
