// ----------------------------------------------------------------------------
// General Layout
// ----------------------------------------------------------------------------

.main {
  padding-top: space(6);
  padding-bottom: space(6);
}

.content {
  @include span(9);
  padding-left: space(9);
}