// ----------------------------------------------------------------------------
// Shaaaaame
// ----------------------------------------------------------------------------
// Anything here should be temporary


// testing grids
.test {
  border: 4px solid $black;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.gallery {
  @include gallery(4 of 12);
}